<div>
<div class="home-banner">
</div>
<h1><%= @list.name %></h1>

<p><%= "Here are the movies" %></p>
<p><%= "Display movie list here......" %></p>



<%= link_to 'Back', lists_path %>

<%# <%= link_to "Delete", lists_path(@lists), method: :delete,
data: {confirm: 'Are you sure about that?'} %>
